<p id="notice"><%= notice %></p>

<h1>Список вагонов</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wagons.each do |w| %>
      <%= render 'wagon', wagon: w %>
    <% end  %>
   
      
  </tbody>
</table>

<br>
<%= link_to 'Добавить вагон', new_wagon_path %>
