 
  <nav class="navbar navbar-expand-lg navbar-light text-light" style="background-color:#008080">
  	<a class="navbar-brand text-light" href="#">TUTU</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbar1">
    	<ul class="navbar-nav mr-auto">
    	  
      		<li class="nav-item active">
        		<a class="nav-link" href="http://0.0.0.0:3000/">Home <span class="sr-only">(current)</span></a>
      		</li>
		     <% if user_signed_in? %>
         <li class="nav-item" >  
          <a class="nav-link" href="http://0.0.0.0:3000/tickets "> Билеты пользователя </a>
        </li>
         <% if current_user.admin? %>
            <li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Админка</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          			<a class="dropdown-item" href="http://0.0.0.0:3000/admin/railway_stations">Станции</a>
          			<a class="dropdown-item" href="http://0.0.0.0:3000/admin/trains">Поезда</a>
          			<a class="dropdown-item" href="http://0.0.0.0:3000/admin/routes">Маршруты</a>
          			<a class="dropdown-item" href="http://0.0.0.0:3000/admin/tickets">Билеты</a>
          			<a class="dropdown-item" href="http://0.0.0.0:3000/admin/wagons">Вагоны</a>
          			<a class="dropdown-item" href="http://0.0.0.0:3000/admin/users">Пользователи</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="#">Something else here</a>
        		</div>
      		</li>
      		<li class="nav-item" >
          <a class="nav-link" data-method="delete" href="/users/sign_out">Выход</a>
         </li>
         <% end %> 
        <% else %>
          <li class="nav-item">
          <a class="nav-link" href="http://0.0.0.0:3000/users/sign_in">Войти</a>
           </li> 
    <% end %>
    </li> 
      		
    	</ul>
    	<form class="form-inline my-2 my-lg-0">
      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      		<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    	</form>
  	</div>
</nav>
  
    <div class="notice alert-success" role="notice"><%= notice %> </p>
    
    </div>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">
    <div class="alert alert-warning" role="alert"> <%= alert %></p>
    </div>
    </span>
    </button>
