<p>Привет, <%= @user.first_name %></p>
<p> Вы изменили билет по маршруту '<%= @ticket.route_name %>'</p>
<p> Посмотреть билет вы можете <%= link_to 'здесь', @ticket %></p>
<p> Посмотреть все свои билеты вы можете <%= link_to 'здесь', tickets_url %></p>
